@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* top-baner section style start now */

.flexable-container {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

h1 {
    text-transform: capitalize;
    font-size: 50px;
    margin: 30px 0;
}

h2 {
    font-size: 45px;
    padding-bottom: 35px;
}

.orange-color {
    color: orange;
    text-transform: capitalize;
}

h3 {
    text-transform: capitalize;
}

p {
    padding: 30px 0;
}

.btn {
    background-image: linear-gradient(orange, tomato);
    border-radius: 4px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.top-baner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

/* top-baner section style end now */


/* dream big section style start now */
.dream-big {
    margin-top: 100px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* dream big section style end now */

/* exprience section style start now */
.exprience-section {

    padding-bottom: 100px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.exp-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-left: 5px solid red;
}

#baby-developer {
    border-left: 5px solid blue;
}

.ex-h {
    padding: 0;
    padding-top: 15px;
}

/* exprience section style end now */

/* footer style start now */
footer p {
    text-align: center;
}

/* footer style end now */